.container{
    width: 100vw;
    height: 100vh;
    background-color: #041325;
    padding: 5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

@media screen and (max-width:480px) {
    .container{
        padding: 0;
    }
}